/*************************** RESET *************************/
@charset "utf-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}




/******************** BODY/GENERAL STYLE *******************/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}
/******************** MAIN CONTENT WRAPPER *****************/
.flex-container {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
}
/******************* Header/Nav Style **********************/
header {
    background-color: #1F2937;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    gap: 215px;
}
ul {
    display: flex;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
}
.logo-text {
    color: #F9FAF8;
    font-size: 24px;
}

/******************** HERO STYLES ****************************/
.hero {
    background-color: #1F2937;
    padding: 24px;
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.awesome-text {
    color: #F9FAF8;
    font-size: 60px; 
    font-weight: 900;
}
.awesome-text-secondary {
    color: #E5E7EB;
    font-size: 18px;
    text-wrap: wrap;
}
.image-placeholder {
    background-color: white;
    padding: 100px;
    display: flex;
}
.hero-button {
    background-color: #3882F6;
    padding: 8px;
    border-radius: 5px; 
}
/******************** INFORMATION STYLE *********************/
.information {
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.information-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 24px;
}
.image-and-subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.image-box {
    height: 100px;
    width: 100px;
    border: 1px solid red;
    border-radius: 5px;
}
.information-text {
    text-align: center;
}
.image-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
/******************** QUOTE STYLE ****************************/
.quote {
    background-color: #E5E7EB;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-wrap: wrap;
}
q {
    max-width: 900px;
}
.quote-author {
    font-style: normal;
    font-weight: bold;
    margin-left: 525px;
}
/******************** CTA STYLE ******************************/
.cta {
    display: flex;
    padding: 24px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cta-box {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    gap: 100px;

}
.cta-button {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    padding: 8px;
    border-radius: 5px;
}
.cta-text {
    color: #F9FAF8;
    font-size: 24px;
}
.cta-text-secondary {
    color: #E5E7EB;
}
/******************** FOOTER STYLE ****************************/
footer {
    background-color: #1F2937;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/********************* CENTER ***********************************/
